/*---------------------------------------------------Map*/

#map {
    width: 600px;
    height: 600px;
    border: solid black 1px;
    border-radius: .5rem;
}

/*---------------------------------------------------Global*/

body {
    height: 100vh;
    /* background: url(../images/rainbow-background1.jpeg) no-repeat
    center center fixed;
    background-size: cover; */
    height: 100vh; 
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

/*---------------------------------------------------Font*/
h1,h2,h3,h4,h5,h6 {
  font-family: 'Quicksand', sans-serif;
}

@media (min-width: 576px) {
  p {
    font-size: 1.2rem;
  }
}

/*---------------------------------------------------Intro*/
.intro {
  padding: 1rem;
}
#intro-p {
  max-width: 500px;
  margin: auto;
}

@media (min-width: 576px) {
  .intro {
    padding: 2rem;
  }
}

/*---------------------------------------------------Map*/

#map {
    width: calc(200px + 30vw);
    height: calc(200px + 30vw);
    border: solid 3px;
    border-radius: .5rem;
    margin: auto;
}

@media (min-width: 576px) {
        #map {
        width: 90%;
    }
}

/*---------------------------------------------------Logo*/

h1 {
  font-family: 'Quicksand', sans-serif;
  }
  
.logo-buttons {
  width: 100%;
}

#logo {
    animation: flicker 0.8s 4;
    width: 180px;
    height: 60px;
}

#logo path {
    stroke: #DD0303;
}

#logo {
    -webkit-filter: drop-shadow( 0px 0px 1px #DD0303);
    filter: drop-shadow( 0px 0px 1px #DD0303);
  }

#logo:hover{
    cursor: pointer;
  }
#logo:hover{
    -webkit-animation: Multicolor 5s linear infinite;
            animation: Multicolor 5s linear infinite;
  }
#logo:hover path{
    animation: Multistroke 5s linear infinite;
  }

#logo path:nth-child(1){
    stroke-dasharray: 312;
    stroke-dashoffset: 312;
    animation: line-animation 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 199;
    stroke-dashoffset: 199;
    animation: line-animation 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 619;
    stroke-dashoffset: 619;
    animation: line-animation 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
    stroke-dasharray: 443;
    stroke-dashoffset: 443;
    animation: line-animation 2s ease forwards 0.9s;
}
#logo path:nth-child(5){
    stroke-dasharray: 277;
    stroke-dashoffset: 277;
    animation: line-animation 2s ease forwards 1.2s;
}
#logo path:nth-child(6){
    stroke-dasharray: 477;
    stroke-dashoffset: 477;
    animation: line-animation 2s ease forwards 0.6s;
}
#logo path:nth-child(7){
    stroke-dasharray: 522;
    stroke-dashoffset: 522;
    animation: line-animation 2s ease forwards 1.8s;
}

@keyframes line-animation {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes flicker {
    10%,
    30%,
    60%,
    75% {
        opacity: 1;
    }
    20%,
    40%,
    70% {
        opacity: 0.45;
    }
}

/*Color Radio Buttons*/
/*radio buttons modified from w3schools article @ https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
/*!important used to override color settings on various states*/
.toggle-container {
    padding: 1rem;
}
.red {
    color: #DD0303 !important;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .redLogo {
    filter: drop-shadow( 0px 0px 1px #DD0303) !important;
  }
  .redPath{
    stroke: #DD0303 !important;
  }
  
  .yellow {
    color: #F7E600 !important;
    border-color: #F7E600 !important;
    -webkit-transition: 1s;
    transition: 1s;
    fill: #F7E600 !important;
    stroke: #F7E600 !important;
  }
  .yellowLogo {
    filter: drop-shadow( 0px 0px 1px #F7E600) !important;
  }
  .yellowPath{
    stroke: #F7E600 !important;
  }
  
  .blue {
    color: #00bfff !important;
    border-color: #00bfff !important;
    -webkit-transition: 1s;
    transition: 1s;
    fill: #00bfff !important;
    stroke: #00bfff !important;
  }
  .blueLogo {
    filter: drop-shadow( 0px 0px 1px #00bfff) !important;
  }
  .bluePath{
    stroke: rgb(16, 168, 168) !important;
  }
  
  .green {
    color: #007C25 !important;
    border-color: #007C25 !important;
    -webkit-transition: 1s;
    transition: 1s;
    fill: #007C25 !important;
    stroke: #007C25 !important;
  }
  .greenLogo {
    filter: drop-shadow( 0px 0px 1px #007C25) !important;
  }
  .greenPath{
    stroke: #007C25 !important;
  }
  
  .pink {
    color: #710783 !important;
    border-color: #710783 !important;
    -webkit-transition: 1s;
    transition: 1s;
    fill: #710783 !important;
    stroke: #710783 !important;
  }
  .pinkLogo {
    filter: drop-shadow( 0px 0px 1px #710783) !important;
  }
  .pinkPath{
    stroke: #710783 !important;
  }
  
  .orange {
    color: #F78800 !important;
    border-color: #F78800 !important;
    -webkit-transition: 1s;
    transition: 1s;
    fill: #F78800 !important;
    stroke: #F78800 !important;
  }
  .orangeLogo {
    filter: drop-shadow( 0px 0px 1px #F78800) !important;
  }
  .orangePath{
    stroke: #F78800 !important;
  }
  
  .color-buttons {
    padding-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .btn-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
  }
  
  /* Hide the browser's default checkbox */
  .btn-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Custom checkbox */
  .btn-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
  }
  
  /* Custom label*/
  .btn-container {
    display: block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide default radio button */
  .btn-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Custom radio button */
  .btn-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    border-radius: 50%;
  }
  
  .btn-checkmark-yellow {
    border: 3px solid #F7E600;
  }
  
  .btn-checkmark-blue {
    border: 3px solid #00bfff;
  }
  
  .btn-checkmark-green {
    border: 3px solid #007C25;
  }
  
  .btn-checkmark-pink {
    border: 3px solid #710783;
  }
  
  .btn-checkmark-orange {
    border: 3px solid #F78800;
  }
  
  .btn-checkmark-red {
    border: 3px solid #DD0303;
  }
  
  /*fill the circle when checked*/
  .btn-container-yellow input:checked ~ .btn-checkmark {
    background-color: #F7E600;
  }
  
  .btn-container-blue input:checked ~ .btn-checkmark {
    background-color: #00bfff;
  }
  
  .btn-container-green input:checked ~ .btn-checkmark {
    background-color: #007C25;
  }
  
  .btn-container-pink input:checked ~ .btn-checkmark {
    background-color: #710783;
  }
  
  .btn-container-orange input:checked ~ .btn-checkmark {
    background-color: #F78800;
  }
  
  .btn-container-red input:checked ~ .btn-checkmark {
    background-color: #DD0303;
  }
  
/*---------------------------------------------------Nav bar*/

.nav-icon {
    font-size: 1.3rem;
}

.nav-link-grey {
    font-size: 1.2rem;
    font-weight: bold;
}

/**---------------------------------------------------Hero Image**/
.hero-image{
  background-image: url(../images/pride-flag.jpg);
  width: 100%;
  height: 70vh;
}

/*---------------------------------------------------About*/
.about{
  margin-top: 20px;
  text-align: center;
  padding: 20px 40px;
}

.about-title{
  font-size: 3rem;
}

.about p{
  font-size: 1.5rem;
}

/**---------------------------------------------------Map and Event Section**/
.map-event-section{
  height: 80vh;
  padding-left: 20px;
  padding-right: 20px;
}

.events-title{
  text-align: center;
}

.events-box{
  border: 1px solid black;
  border-radius: 5px;
  height: 30%;
  overflow: hidden;
  overflow-y: scroll;
}

.card{
  margin: 10px auto;
  border: 1px solid black;
  line-height: normal;
  box-shadow: 5px 5px 15px gray;
}

.card-title{
  text-align: center;
}
/**---------------------------------------------------Modal**/
.modal-header, .modal-footer{
background: url(../images/rainbow-background1.jpeg)
}

/**---------------------------------------------------Footer**/
footer{
  height: 20vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  text-align: center;
}

.social-links{
  font-size: 2rem;
}

/**---------------------------------------------------Tech Dates**/

.tech-date-about{
  text-align: center;
}

/**---------------------------------------------------Code Group**/
.code-group-about{
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.code-group-about h1{
  text-align: center;
  font-size: 3rem;
}

.code-group-about p{
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.code-group-about h2{
  text-align: center;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
}

.profile-container{
  margin-top: 2rem;
}

.card-img-top-pic{
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  margin: auto;
  padding: 5px
}

/*---------------------------------------------------Forms & Buttons*/

.btn-reg {
    border: 2px solid;
}

.hint-text {
    color:#28282d;
    font-size: 0.9rem;
    padding-left: 45px;
}

/*---------------------------------------------------Footer*/

.footer .row {
  margin: 0;
  font-weight: 500;
} 

.footer {
  text-align: center;
  font-size: 1.2rem;
}

.footer-card {
  background-color: rgba(222,222,222,0.6);
  border-radius: 5px;
  min-height: 14rem;
  margin: 1.2rem 0;
  padding: 0.5rem 1rem;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.footer-card a, .footer-card div {
  word-break: break-all;
  text-decoration: none;
}

.social-links {
  display: flex;
  font-size: 2.5rem;
}

.footer div a:hover, .footer a i:hover{
  -moz-transition: all 1s fade-in !important;
  -o-transition: all 1s fade-in !important;
  -webkit-transition: all 1s fade-in !important;
  transition: all 1s fade-in !important;
  color: #fff !important;
}

/*---------------------------------------------------Flashed messages*/

.flashed-messsages {
    line-height: 2;
    color: black;
    font-size: 1.6rem;
}


/*---------------------------------------------------User infowindows*/

