body {
    height: 100vh;
    background: url(../images/rainbow-background1.jpeg) no-repeat
    center center fixed;
    background-size: cover;
    height: 100vh; 
}

#map {
    width: 600px;
    height: 600px;
    border: solid black 1px;
    border-radius: .5rem;
}