{% extends "base.html" %}
{% block content %}
<section>
    <div class="code-group-about color red">
        <h1>Connect with coders in your area.</h1>
        <p>There are so many benfits to connecting with like minded people in your area. <em>Learning</em>,
            <em>Developing</em> and <em>Laughing</em> together can help build friendships which will last a lifetime.
        </p>
        <h2>Here are some Coders in your area that would love to connect.</h2>
    </div>
    <!--User profile cards-->
    <!--Default content
    <div class="container profile-container">
        <div class="row">
            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src=" https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1592598015799-35c84b09394c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1543207564-1271b510019d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1561742026-49ec5faa1b95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1548372290-8d01b6c8e78c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://images.unsplash.com/photo-1506956191951-7a88da4435e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
                        class="card-img-top-pic" alt="Two cups of Coffee">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-user color red"></i> Name Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Pronouns:</strong> He/Him</li>
                            <li class="list-group-item"><strong>Loacation:</strong> Galway</li>
                            <li class="list-group-item"><strong>Tech Skills:</strong> HTML, CSS, Python, JavaScript</li>
                            <li class="list-group-item"><strong>Orientation:</strong> Trans</li>
                        </ul>
                        <p class="card-text">Self taught full stack developer. Looking for someone to collaborate with
                            and who’s up for an adventure.</p>
                    </div>
                </div>
            </div>
-->
            <div class="container profile-container">
                <div class="row">
                    {% for user in users %}
                    <div class="col-12 col-md-3 col-md-4">
                        <div class="card" style="width: 20rem;">
                            <img src="{{ user.image }}" class="card-img-top-pic" alt="{{user.username }}">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-user color red"></i> {{ user.username }}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Pronouns:</strong> {{ user.pronoun }}</li>
                                    <li class="list-group-item"><strong>Location:</strong> {{ user.address }}</li>
                                    <li class="list-group-item"><strong>Tech Skills:</strong> {{ user.tech_skills }}
                                    </li>
                                    <li class="list-group-item"><strong>Open to date?:</strong> {{ user.date }}</li>
                                    <li class="list-group-item"><strong>Open to friends?:</strong> {{ user.friends }}</li>
                                    <li class="list-group-item card-text"><strong>About me:</strong> {{ user.about_me }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
</section>
{% endblock %}