{% extends "base.html" %}
{% block content %}
<section>
    <div class="code-group-about color red">
        <h1>Connect with coders in your area.</h1>
        <p>There are so many benfits to connecting with like minded people in your area. <em>Learning</em>,
            <em>Developing</em> and <em>Laughing</em> together can help build friendships which will last a lifetime.
        </p>
        <h2>Here are some Coders in your area that would love to connect.</h2>
    </div>
            <div class="container profile-container">
                <div class="row">
                    {% for user in users %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card pt-4" style="width: 20rem;">
                            <div class="col-10 card-img-centered" style="background-image: url('{{ user.image }}')">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-user color red"></i> {{ user.username }}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Pronouns:</strong> {{ user.pronoun }}</li>
                                    <li class="list-group-item"><strong>Location:</strong> {{ user.address }}</li>
                                    <li class="list-group-item"><strong>Tech Skills:</strong> {{ user.tech_skills }}
                                    </li>
                                    <li class="list-group-item"><strong>Open to date?:</strong> {{ user.date }}</li>
                                    <li class="list-group-item"><strong>Open to friends?:</strong> {{ user.friends }}</li>
                                    <li class="list-group-item card-text"><strong>About me:</strong> {{ user.about_me }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
</section>
{% endblock %}
