{% extends "base.html" %}
{% block content %}
<div class="container text-center intro">
    <h2 class="color red">Connecting the LGBTQ Coding Community</h2>
    <p id="intro-p">
        It may feel isolating to live in a rural area far from the supports available to urban dwelling members of the
        LGBTQ+ community. However, you are not alone. Light Up enables rural users to interact by lighting up our map
        with events. These may include coding sessions as well as more casual meetups. Join us and light up our map to
        show others they are not alone.
    </p>
</div>
<input id="search-box" placeholder="Start typing a city name" class="search-boxes" type="text">
<div id="map" class="red color mb-5"></div>
<!--
    <div id="users">
        {% for user in users %}
        <div class="card col-3">
            <p>Username: {{ user.username }}</p>
        </div>
    </div>
{% endfor %}
<!--User info boxes-->
{% for user in users %}
<div style="display: none;">
    <div id="info-content-events" class="container">
        <div class="iw_attribute_name col-4">Name:</div>
        <div id="iw-event-name" class="col-8"></div>
        <div id="iw-pronoun-row" class="iw_table_row row">
            <div class="iw_attribute_name col-4">Date:</div>
            <div id="iw-event-date" class="col-8"></div>
        </div>
        <div id="iw-town-row" class="iw_table_row row">
            <div class="iw_attribute_name col-4">Time:</div>
            <div id="iw-event-time" class="col-8"></div>
        </div>
        <div id="iw-skills-row" class="iw_table_row row">
            <div class="iw_attribute_name col-4">Place:</div>
            <div id="iw-event-place" class="col-8"></div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}