    
    {% extends "base.html" %}
{% block content %}
    <section>
        <div class="tech-date-about">
            <h1>These are some Tech Dates In your area</h1>
        </div>

        <div class="container profile-container">
            <div class="row">
                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="assets/images/code-coffee-event.jpg" class="card-img-top" alt="Two cups of Coffee">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Virtual Coffee Meet-Up</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 25/6/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 16:00</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        </div>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </div>
    </section>
    {% endblock %}
