    
    {% extends "base.html" %}
{% block content %}
    <section>
        <div class="tech-date-about">
            <h1>These are some Tech Dates In your area</h1>
        </div>

        <div class="container profile-container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card color red" style="width: 20rem;">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-map-marker-alt color red"></i> End of Pride Month Celebration</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Eyre Square Galway</li>
                            <li class="list-group-item"><strong>Date:</strong> 6/26/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 20:00</li>
                        </ul>
                        <p class="card-text">Come celebrate the end of Pride Month (and end of Lockdown) in a socially
                            disanced community event taking place in Galway's Eyre Square. If you would like to 
                            attend, please do pop along! Live Music and food trucks available throughout the entire day
                            for you to enjoy. Bring all your family and friends! We would love to see you there!</p>
                        </div>
                        <button type="button" class="btn btn-primary m-2">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card color red" style="width: 20rem;">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-map-marker-alt color red"></i> LGBTQ+ Gamers West of Ireland</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> University Concert Hall Limerick</li>
                            <li class="list-group-item"><strong>Date:</strong> 8/14/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 9:00</li>
                        </ul>
                        <p class="card-text">All Day Gaming Event, hosted by University of Limerick for the LGBTQ+ community
                            from the West of Ireland. If you would love to meet some fellow gamers, make new connections
                            and meet new people, then this is the event for you!.</p>
                        </div>
                        <button type="button" class="btn btn-primary m-2">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card color red" style="width: 20rem;">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-map-marker-alt color red"></i> Transgender in Tech West of Ireland</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Sligo Institute of Technology</li>
                            <li class="list-group-item"><strong>Date:</strong> 9/18/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 9:00</li>
                        </ul>
                        <p class="card-text">Hear from some of Irelands biggest names in Tech and how they have been embracing
                            being Transgender within the industry. If you are seeking inspiration and reassurance, then look
                            no further. This is going to be an amazing event and we are excited to see you there!</p>
                        </div>
                        <button type="button" class="btn btn-primary m-2">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card color red" style="width: 20rem;">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-map-marker-alt color red"></i> Halloween Teen Hackathon South West of Ireland</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> The Brehon Hotel Killarney</li>
                            <li class="list-group-item"><strong>Date:</strong> 10/30/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 9:00</li>
                        </ul>
                        <p class="card-text">Are you aged 18 to 25? All Day Web Development Coding Event. This is sure to be an amazing 
                            day where you can meet other LGBTQ+ coders from the South West of Ireland and impress us with your imagination 
                            and coding ability! Regardless of your experience, we would love to see you there.
                            Prizes sponsored by Kerry County Council.</p>
                        </div>
                        <button type="button" class="btn btn-primary m-2">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card color red" style="width: 20rem;">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> County Galway Virtual Pride Parade</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 6/25/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 14:00</li>
                        </ul>
                        <p class="card-text">Pop in to our Virtual Meetup for Galway members of the LGBTQ+ community! We would love to hear how the past year has been for you and what it means to be LGBTQ+ in Galway. What do you like? What do you dislike? How can we work together to make Galway an even better place to live for our community! Crack open a beer and join us for some music and some chilled chats and celebrate Pride together!</p>
                        </div>
                        <button type="button" class="btn btn-primary m-2">Register</button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card color red" style="width: 20rem;">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-laptop color red"></i> Donegal Coding for Beginners Workshop</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Loacation:</strong> Virtual</li>
                            <li class="list-group-item"><strong>Date:</strong> 7/24/2021</li>
                            <li class="list-group-item"><strong>Time:</strong> 10:00</li>
                        </ul>
                        <p class="card-text">Are you part of the LGBTQ+ community with a passion for Tech and located in County Donegal? Do you want to find out the basic foundations of Coding? If so, please join us for a complete beginners workshop, hosted by some of Ireland's top LGBTQ+ talent. No pre-requisites required, just come with an open mind and be open to making some nice new connections as well! Looking forward to see you there!</p>
                        </div>
                        <button type="button" class="btn btn-primary m-2">Register</button>
                    </div>
                </div>

                </div>
            </div>
    </section>
    {% endblock %}
